#### Importing Data

In [82]:
import pandas as pd

GK = pd.read_csv("GK_position.csv")

GK.head(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
1,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,€68M,€94K,Right,...,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M
2,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,€58M,€240K,Right,...,69.0,25.0,13.0,10.0,87.0,85.0,88.0,85.0,90.0,€123.3M
3,192119,T. Courtois,26,Belgium,89,90,Real Madrid,€53.5M,€240K,Left,...,66.0,20.0,18.0,16.0,85.0,91.0,72.0,86.0,88.0,€113.7M
4,167495,M. Neuer,32,Germany,89,89,FC Bayern München,€38M,€130K,Right,...,70.0,17.0,10.0,11.0,90.0,86.0,91.0,87.0,87.0,€62.7M
5,167948,H. Lloris,31,France,88,88,Tottenham Hotspur,€36M,€150K,Left,...,65.0,29.0,10.0,18.0,88.0,84.0,68.0,83.0,92.0,€66.6M
6,162835,S. Handanovič,33,Slovenia,88,88,Inter,€30M,€110K,Right,...,69.0,25.0,10.0,13.0,87.0,86.0,69.0,89.0,89.0,€51M
7,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,€4M,€77K,Right,...,70.0,13.0,11.0,11.0,88.0,87.0,74.0,90.0,83.0,€7.4M
8,193041,K. Navas,31,Costa Rica,87,87,Real Madrid,€30.5M,€195K,Right,...,67.0,28.0,14.0,14.0,90.0,81.0,75.0,82.0,90.0,€62.5M
9,210257,Ederson,24,Brazil,86,90,Manchester City,€41.5M,€125K,Left,...,70.0,28.0,15.0,8.0,85.0,80.0,91.0,82.0,87.0,€79.9M

#### Filtering Usefull fields

In [83]:
GK=GK[['Name','ID','Age','Position','Value','Wage','Body Type', 'Height', 'Weight','Potential', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes','Reactions', 'Balance', 'Jumping', 'Agility', 'Strength','Stamina','Acceleration','BallControl']]

GK.head(10)

,Name,ID,Age,Position,Value,Wage,Body Type,Height,Weight,Potential,...,GKPositioning,GKReflexes,Reactions,Balance,Jumping,Agility,Strength,Stamina,Acceleration,BallControl
0,De Gea,193080,27,GK,€72M,€260K,Lean,6'4,168lbs,93,...,88.0,94.0,90.0,43.0,67.0,60.0,64.0,43.0,57.0,42.0
1,J. Oblak,200389,25,GK,€68M,€94K,Normal,6'2,192lbs,93,...,88.0,89.0,86.0,49.0,76.0,67.0,78.0,41.0,43.0,16.0
2,M. ter Stegen,192448,26,GK,€58M,€240K,Normal,6'2,187lbs,92,...,85.0,90.0,85.0,43.0,79.0,37.0,79.0,35.0,38.0,18.0
3,T. Courtois,192119,26,GK,€53.5M,€240K,Courtois,6'6,212lbs,90,...,86.0,88.0,84.0,45.0,68.0,61.0,70.0,38.0,46.0,23.0
4,M. Neuer,167495,32,GK,€38M,€130K,Normal,6'4,203lbs,89,...,87.0,87.0,84.0,35.0,77.0,51.0,80.0,43.0,54.0,48.0
5,H. Lloris,167948,31,GK,€36M,€150K,Lean,6'2,181lbs,88,...,83.0,92.0,85.0,54.0,74.0,55.0,43.0,41.0,65.0,34.0
6,S. Handanovič,162835,33,GK,€30M,€110K,Normal,6'4,203lbs,88,...,89.0,89.0,83.0,36.0,78.0,47.0,71.0,41.0,51.0,16.0
7,G. Buffon,1179,40,GK,€4M,€77K,Normal,6'4,203lbs,88,...,90.0,83.0,79.0,49.0,75.0,55.0,69.0,39.0,49.0,28.0
8,K. Navas,193041,31,GK,€30.5M,€195K,Normal,6'1,176lbs,87,...,82.0,90.0,84.0,61.0,74.0,60.0,75.0,39.0,54.0,19.0
9,Ederson,210257,24,GK,€41.5M,€125K,Normal,6'2,190lbs,90,...,82.0,87.0,86.0,48.0,58.0,60.0,68.0,41.0,64.0,37.0

#### Encoding Necessary Fields

In [84]:

from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()
GK['Body Type'] = label_encoder.fit_transform(GK['Body Type'])


def convert_height_to_cm(height):
    try:
        feet, inches = map(int, height.split("'"))
        total_inches = feet * 12 + inches
        height_cm = total_inches * 2.54
        return round(height_cm, 2)
    except Exception as e:
        print(f"Error converting height: {e}")
        return None
    
def convert_weight_to_kg(weight):
    try:
        # Remove 'lbs' from the string and convert to float
        weight_kg = float(weight.replace('lbs', '').strip()) * 0.453592
        return round(weight_kg, 2)
    except Exception as e:
        print(f"Error converting weight: {e}")
        return None

# Applying the conversion functions
GK['Height'] = GK['Height'].apply(convert_height_to_cm)
GK['Weight'] = GK['Weight'].apply(convert_weight_to_kg)


# Function to convert Value and Wage
def convert_value_wage(value):
    if value[-1] == 'M':
        return float(value[1:-1]) * 1e6
    elif value[-1] == 'K':
        return float(value[1:-1]) * 1e3
    return float(value[1:])

# Apply conversion
GK['Value'] = GK['Value'].apply(convert_value_wage).astype(int)
GK['Wage'] = GK['Wage'].apply(convert_value_wage).astype(int)


GK.head(5)

,Name,ID,Age,Position,Value,Wage,Body Type,Height,Weight,Potential,...,GKPositioning,GKReflexes,Reactions,Balance,Jumping,Agility,Strength,Stamina,Acceleration,BallControl
0,De Gea,193080,27,GK,72000000,260000,1,193.04,76.20,93,...,88.0,94.0,90.0,43.0,67.0,60.0,64.0,43.0,57.0,42.0
1,J. Oblak,200389,25,GK,68000000,94000,2,187.96,87.09,93,...,88.0,89.0,86.0,49.0,76.0,67.0,78.0,41.0,43.0,16.0
2,M. ter Stegen,192448,26,GK,58000000,240000,2,187.96,84.82,92,...,85.0,90.0,85.0,43.0,79.0,37.0,79.0,35.0,38.0,18.0
3,T. Courtois,192119,26,GK,53500000,240000,0,198.12,96.16,90,...,86.0,88.0,84.0,45.0,68.0,61.0,70.0,38.0,46.0,23.0
4,M. Neuer,167495,32,GK,38000000,130000,2,193.04,92.08,89,...,87.0,87.0,84.0,35.0,77.0,51.0,80.0,43.0,54.0,48.0

#### Feature Engineering

In [86]:
GK['ShotStoppingAbility'] = (
    GK['GKReflexes']  +
    GK['GKDiving']  +
    GK['GKHandling'] +
    GK['GKPositioning']  +
    GK['GKKicking'] 
)
GK['PhysicalStrength'] = (
    GK['Strength'] +
    GK['Agility']  +
    GK['Balance'] +
    GK['Acceleration'] +
    GK['Stamina'] +
    GK['Jumping'] 
)

GK[['Wage','Potential','Value']].corr()['Potential']
GK = GK [['Name','ID','Potential','ShotStoppingAbility','PhysicalStrength','Reactions','BallControl','Height','Weight','Value','Wage','Age']]
GK.head(10)

,Name,ID,Potential,ShotStoppingAbility,PhysicalStrength,Reactions,BallControl,Height,Weight,Value,Wage,Age
0,De Gea,193080,93,444.0,334.0,90.0,42.0,193.04,76.20,72000000,260000,27
1,J. Oblak,200389,93,433.0,354.0,86.0,16.0,187.96,87.09,68000000,94000,25
2,M. ter Stegen,192448,92,435.0,311.0,85.0,18.0,187.96,84.82,58000000,240000,26
3,T. Courtois,192119,90,422.0,328.0,84.0,23.0,198.12,96.16,53500000,240000,26
4,M. Neuer,167495,89,441.0,340.0,84.0,48.0,193.04,92.08,38000000,130000,32
5,H. Lloris,167948,88,415.0,332.0,85.0,34.0,187.96,82.10,36000000,150000,31
6,S. Handanovič,162835,88,420.0,324.0,83.0,16.0,193.04,92.08,30000000,110000,33
7,G. Buffon,1179,88,422.0,336.0,79.0,28.0,193.04,92.08,4000000,77000,40
8,K. Navas,193041,87,418.0,363.0,84.0,19.0,185.42,79.83,30500000,195000,31
9,Ederson,210257,90,425.0,339.0,86.0,37.0,187.96,86.18,41500000,125000,24

#### Splitting Data into Train & Test

In [87]:
from sklearn.model_selection import train_test_split

x = GK.drop(['Name','ID', 'Potential'], axis=1)
y=GK['Potential']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=42)

#### Prediction Model

In [88]:
import CombinedModle

Combine_test, Combine_train = CombinedModle.train_and_evaluate(x_train, y_train, x_test, y_test)

Combined R^2 Test: 0.9417428979355134
Combined R^2 Train: 0.9703773021228235

#### Top 10 Players Based on Potential

In [94]:
import PlayerPotential

top_players = PlayerPotential.get_top_players(GK, x_test, y_test, Combine_test)

# # Print the top 10 players
print(top_players)
data =top_players

              Name      ID  Actual_Potential  Predicted_Potential
2    M. ter Stegen  192448                92            92.010087
49        A. Onana  226753                85            86.321626
44    T. Strakosha  212151                86            86.157273
32     J. Pavlenka  236583                85            84.571640
45      B. Lecomte  200726                84            84.020935
23      O. Baumann  193698                84            83.934245
71     Sergio Rico  206652                83            83.665838
56         J. Zoet  190778                83            82.659184
251      E. Audero  228413                85            82.155496
30     R. Jarstein  104389                83            82.120414

In [93]:
# import numpy as np

# importances = model.feature_importances_
# x=GK[x]

# indices = np.argsort(importances)[::-1]
# features = x.columns

# plt.figure(figsize=(10, 6))
# plt.title('Feature Importances')
# plt.bar(range(x.shape[1]), importances[indices], align='center')
# plt.xticks(range(x.shape[1]), np.array(features)[indices], rotation=45)
# plt.xlim([-1, x.shape[1]])
# plt.xlabel('Feature')
# plt.ylabel('Importance')
# plt.show()

NameError: name 'model' is not defined

## Model

* Regression Models: If predicting a continuous performance metric (e.g., predicted score), use models like Linear Regression, Random Forest Regressor, or Gradient Boosting Regressor.
Classification Models: If categorizing goalkeepers into performance tiers (e.g., top performers vs. average performers), use models like Logistic Regression, Random Forest Classifier, or Support Vector Machines (SVM).

<!-- Regression Models: If predicting a continuous performance metric (e.g., predicted score), use models like Linear Regression, Random Forest Regressor, or Gradient Boosting Regressor.
Classification Models: If categorizing goalkeepers into performance tiers (e.g., top performers vs. average performers), use models like Logistic Regression, Random Forest Classifier, or Support Vector Machines (SVM). -->