In [1]:
import pandas as pd

RM = pd.read_csv("RM_position.csv")

RM.head(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
1,177003,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
2,231747,K. Mbappé,19,France,88,95,Paris Saint-Germain,€81M,€100K,Right,...,86.0,34.0,34.0,32.0,13.0,5.0,7.0,11.0,6.0,€166.1M
3,209331,M. Salah,26,Egypt,88,89,Liverpool,€69.5M,€255K,Left,...,91.0,38.0,43.0,41.0,14.0,14.0,9.0,11.0,14.0,€137.3M
4,195864,P. Pogba,25,France,87,91,Manchester United,€64M,€210K,Right,...,87.0,66.0,70.0,68.0,5.0,6.0,2.0,4.0,3.0,€123.2M
5,168651,I. Rakitić,30,Croatia,87,87,FC Barcelona,€46.5M,€260K,Right,...,81.0,72.0,74.0,70.0,14.0,11.0,12.0,5.0,9.0,€95.3M
6,189509,Thiago,27,Spain,86,86,FC Bayern München,€45.5M,€130K,Right,...,85.0,67.0,63.0,65.0,6.0,11.0,7.0,9.0,13.0,€75.1M
7,223848,S. Milinković-Savić,23,Serbia,85,90,Lazio,€50.5M,€73K,Right,...,82.0,75.0,77.0,72.0,7.0,10.0,7.0,16.0,7.0,€89.6M
8,212622,J. Kimmich,23,Germany,85,88,FC Bayern München,€40.5M,€92K,Right,...,82.0,75.0,81.0,79.0,8.0,15.0,7.0,15.0,15.0,€69.9M
9,208421,Saúl,23,Spain,85,90,Atlético Madrid,€50.5M,€77K,Left,...,83.0,77.0,79.0,76.0,7.0,13.0,12.0,10.0,9.0,€107.3M

In [2]:
RM = RM.drop(['Nationality','Overall','Club','International Reputation','Work Rate','Body Type',
                           'Jersey Number','Joined','Loaned From','Contract Valid Until','GKDiving','GKHandling','GKKicking',
                           'GKPositioning','GKReflexes','Release Clause','Positioning'], axis=1)


RM.head(10)

,ID,Name,Age,Potential,Value,Wage,Preferred Foot,Weak Foot,Skill Moves,Position,...,Strength,LongShots,Aggression,Interceptions,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle
0,192985,K. De Bruyne,27,92,€102M,€355K,Right,5.0,4.0,RCM,...,75.0,91.0,76.0,61.0,94.0,79.0,88.0,68.0,58.0,51.0
1,177003,L. Modrić,32,91,€67M,€420K,Right,4.0,4.0,RCM,...,58.0,82.0,62.0,83.0,92.0,82.0,84.0,60.0,76.0,73.0
2,231747,K. Mbappé,19,95,€81M,€100K,Right,4.0,5.0,RM,...,71.0,78.0,62.0,38.0,82.0,70.0,86.0,34.0,34.0,32.0
3,209331,M. Salah,26,89,€69.5M,€255K,Left,3.0,4.0,RM,...,70.0,83.0,63.0,55.0,82.0,61.0,91.0,38.0,43.0,41.0
4,195864,P. Pogba,25,91,€64M,€210K,Right,4.0,5.0,RDM,...,89.0,81.0,78.0,66.0,87.0,81.0,87.0,66.0,70.0,68.0
5,168651,I. Rakitić,30,87,€46.5M,€260K,Right,3.0,3.0,RCM,...,66.0,90.0,67.0,75.0,86.0,82.0,81.0,72.0,74.0,70.0
6,189509,Thiago,27,86,€45.5M,€130K,Right,3.0,5.0,CM,...,59.0,79.0,57.0,78.0,86.0,75.0,85.0,67.0,63.0,65.0
7,223848,S. Milinković-Savić,23,90,€50.5M,€73K,Right,4.0,4.0,CM,...,88.0,80.0,73.0,78.0,85.0,56.0,82.0,75.0,77.0,72.0
8,212622,J. Kimmich,23,88,€40.5M,€92K,Right,4.0,3.0,RCM,...,65.0,69.0,74.0,79.0,79.0,44.0,82.0,75.0,81.0,79.0
9,208421,Saúl,23,90,€50.5M,€77K,Left,4.0,3.0,RCM,...,77.0,79.0,69.0,78.0,82.0,55.0,83.0,77.0,79.0,76.0

In [3]:

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
RM['Preferred Foot'] =label_encoder.fit_transform(RM['Preferred Foot'])
RM['Position'] =label_encoder.fit_transform(RM['Position'])

def convert_height_to_cm(height):
    try:
        feet, inches = map(int, height.split("'"))
        total_inches = feet * 12 + inches
        height_cm = total_inches * 2.54
        return round(height_cm, 2)
    except Exception as e:
        print(f"Error converting height: {e}")
        return None
    
def convert_weight_to_kg(weight):
    try:
        # Remove 'lbs' from the string and convert to float
        weight_kg = float(weight.replace('lbs', '').strip()) * 0.453592
        return round(weight_kg, 2)
    except Exception as e:
        print(f"Error converting weight: {e}")
        return None

# Applying the conversion functions
RM['Height'] = RM['Height'].apply(convert_height_to_cm)
RM['Weight'] = RM['Weight'].apply(convert_weight_to_kg)

# Function to convert Value and Wage
def convert_value_wage(value):
    if value[-1] == 'M':
        return float(value[1:-1]) * 1e6
    elif value[-1] == 'K':
        return float(value[1:-1]) * 1e3
    return float(value[1:])

# Apply conversion
RM['Value'] = RM['Value'].apply(convert_value_wage).astype(int)
RM['Wage'] = RM['Wage'].apply(convert_value_wage).astype(int)

RM.head(10)

,ID,Name,Age,Potential,Value,Wage,Preferred Foot,Weak Foot,Skill Moves,Position,...,Strength,LongShots,Aggression,Interceptions,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle
0,192985,K. De Bruyne,27,92,102000000,355000,1,5.0,4.0,1,...,75.0,91.0,76.0,61.0,94.0,79.0,88.0,68.0,58.0,51.0
1,177003,L. Modrić,32,91,67000000,420000,1,4.0,4.0,1,...,58.0,82.0,62.0,83.0,92.0,82.0,84.0,60.0,76.0,73.0
2,231747,K. Mbappé,19,95,81000000,100000,1,4.0,5.0,3,...,71.0,78.0,62.0,38.0,82.0,70.0,86.0,34.0,34.0,32.0
3,209331,M. Salah,26,89,69500000,255000,0,3.0,4.0,3,...,70.0,83.0,63.0,55.0,82.0,61.0,91.0,38.0,43.0,41.0
4,195864,P. Pogba,25,91,64000000,210000,1,4.0,5.0,2,...,89.0,81.0,78.0,66.0,87.0,81.0,87.0,66.0,70.0,68.0
5,168651,I. Rakitić,30,87,46500000,260000,1,3.0,3.0,1,...,66.0,90.0,67.0,75.0,86.0,82.0,81.0,72.0,74.0,70.0
6,189509,Thiago,27,86,45500000,130000,1,3.0,5.0,0,...,59.0,79.0,57.0,78.0,86.0,75.0,85.0,67.0,63.0,65.0
7,223848,S. Milinković-Savić,23,90,50500000,73000,1,4.0,4.0,0,...,88.0,80.0,73.0,78.0,85.0,56.0,82.0,75.0,77.0,72.0
8,212622,J. Kimmich,23,88,40500000,92000,1,4.0,3.0,1,...,65.0,69.0,74.0,79.0,79.0,44.0,82.0,75.0,81.0,79.0
9,208421,Saúl,23,90,50500000,77000,0,4.0,3.0,1,...,77.0,79.0,69.0,78.0,82.0,55.0,83.0,77.0,79.0,76.0

In [4]:
RM['Passing'] = RM['Crossing']  +RM['ShortPassing'] +RM['LongPassing']

RM['Ball_Control'] =  RM['Dribbling']  +RM['BallControl'] +RM['Composure'] +RM['HeadingAccuracy'] 

RM['Fitness'] = RM['Acceleration'] +RM['SprintSpeed'] +RM['Agility'] +RM['Reactions'] +RM['Balance'] +RM['Jumping'] +RM['Stamina'] +RM['Strength'] +RM['Aggression'] +RM['Vision']

RM['Defensive_abilities'] =RM['Interceptions'] +RM['Marking']  +RM['StandingTackle']  +RM['SlidingTackle'] 

RM['Shooting'] = RM['Curve'] +RM['FKAccuracy'] +RM['Finishing'] +RM['Penalties'] +RM['LongShots'] 

RM = RM [['Name','ID','Passing','Ball_Control','Value','Fitness','Defensive_abilities','Potential','Weight','Shooting','Age']]
RM.head(10)

,Name,ID,Passing,Ball_Control,Value,Fitness,Defensive_abilities,Potential,Weight,Shooting,Age
0,K. De Bruyne,192985,276.0,320.0,102000000,799.0,238.0,92,69.85,420.0,27
1,L. Modrić,177003,267.0,322.0,67000000,798.0,292.0,91,66.22,399.0,32
2,K. Mbappé,231747,232.0,344.0,81000000,827.0,138.0,95,73.03,376.0,19
3,M. Salah,209331,232.0,327.0,69500000,822.0,177.0,89,71.21,377.0,26
4,P. Pogba,195864,256.0,337.0,64000000,794.0,270.0,91,83.91,401.0,25
5,I. Rakitić,168651,261.0,310.0,46500000,682.0,291.0,87,78.02,427.0,30
6,Thiago,189509,249.0,319.0,45500000,759.0,273.0,86,69.85,385.0,27
7,S. Milinković-Savić,223848,234.0,341.0,50500000,759.0,302.0,90,76.20,369.0,23
8,J. Kimmich,212622,255.0,321.0,40500000,780.0,314.0,88,69.85,321.0,23
9,Saúl,208421,237.0,334.0,50500000,767.0,310.0,90,77.11,344.0,23

In [5]:
from sklearn.model_selection import train_test_split
x = RM.drop(['Name','ID', 'Potential'], axis=1)
y = RM['Potential']

# Now split the cleaned data into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [6]:
import CombinedModle

# Assuming your data is already loaded and split into x_train, y_train, x_test, y_test
Combine_test, Combine_train = CombinedModle.train_and_evaluate(x_train, y_train, x_test, y_test)

Combined R^2 Test: 0.9219300639839104
Combined R^2 Train: 0.9598907726354428

In [7]:
import PlayerPotential

# # Assuming you have CB, x_test, y_test, and Combine_test from the previous steps
top_players = PlayerPotential.get_top_players(RM, x_test, y_test, Combine_test)

# # Print the top 10 players
print(top_players)
data =top_players

                   Name      ID  Actual_Potential  Predicted_Potential
0          K. De Bruyne  192985                92            94.034672
7   S. Milinković-Savić  223848                90            91.813457
22            A. Rabiot  210008                87            88.653604
69         Carlos Soler  234153                87            87.320640
87         V. Tsygankov  244369                86            86.808900
12             Jorginho  205498                87            86.577385
70          G. Lo Celso  226226                86            86.575018
88             Raphinha  233419                86            86.300160
25       Manu Trigueros  206545                84            85.370609
44         G. Kondogbia  201455                85            85.258311